<ng-container *transloco="let t">
  <nav [ariaLabel]="t('navbarSearch')">
    <div class="wrapper">
      <auth-portal-navbar-button
        class="mobile-menu"
        icon="bars"
        [ariaLabel]="t('toggleMenu')"
        (clickEvent)="onToggleSidebar(true)">
      </auth-portal-navbar-button>
    </div>

    <div class="wrapper">
      <auth-portal-navbar-button
        icon="custom-check-list"
        iconPosition="right"
        [badgeCounter]="unreadActionsStoreService.unreadActions()"
        [isDisabled]="false"
        [label]="t('actions')"
        (clickEvent)="onActionsClick('actions')">
      </auth-portal-navbar-button>

      <auth-portal-navbar-button
        icon="bell"
        iconPosition="right"
        [badgeCounter]="unreadNotificationsStoreService.unreadNotifications()"
        [isDisabled]="false"
        [label]="t('notifications')"
        (clickEvent)="onNavigateTo('notifications')">
      </auth-portal-navbar-button>

      @if (!coBrowsingSharedService.getCoBrowsingUserEmail()) {
        <auth-portal-navbar-button
          icon="question-circle"
          iconPosition="right"
          [isDisabled]="false"
          [label]="t('serviceNow.help')"
          (clickEvent)="openServiceNowGeneralHelp()">
        </auth-portal-navbar-button>
      }
      <auth-portal-navbar-download></auth-portal-navbar-download>
      <auth-portal-navbar-settings></auth-portal-navbar-settings>
    </div>
  </nav>
</ng-container>
