@if (isDnvUser && !coBrowsingSharedService.getCoBrowsingUserEmail()) {
  <router-outlet></router-outlet>
  <lib-spinner></lib-spinner>
} @else {
  @if (coBrowsingSharedService.getCoBrowsingUserEmail()) {
    <auth-portal-navbar-co-browsing></auth-portal-navbar-co-browsing>
  }
  <div class="app-container">
    <auth-portal-navbar
      (toggleSidebarEvent)="sidebarMobile.onToggle($event)">
    </auth-portal-navbar>
    <auth-portal-sidebar></auth-portal-sidebar>
    <auth-portal-footer></auth-portal-footer>
    <main [ngClass]="{ 'no-breadcrumb': breadcrumbVisibility }">
      <auth-portal-breadcrumb></auth-portal-breadcrumb>
      <div class="content">
        <router-outlet></router-outlet>
        <lib-spinner></lib-spinner>
      </div>
      <auth-portal-sidebar-mobile #sidebarMobile></auth-portal-sidebar-mobile>
    </main>
  </div>
}
<shared-custom-confirm-dialog></shared-custom-confirm-dialog>
<shared-custom-toast></shared-custom-toast>